@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Alegreya Sans', sans-serif;
}

:root { 
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #e01983;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* ======== Header ======================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header__logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar__link {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar__link:hover,
.navbar__link.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* ======== Section home ======================== */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
}

.home__content {
    max-width: 60rem;
}

.home__title {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home__text {
    position: relative;
    width: 32.8rem;
}

.home__text-animate {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
    letter-spacing: .3rem;
}

.home__text-content {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn:hover {
    color: var(--main-color);
}

.btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

/* .home__btn:nth-child(2):hover {
    color: var(--bg-color);
}

.home__btn:nth-child(2)::before {
    background: var(--main-color);
} */

.btn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    width: 100%;
}

.home__social {
    position: absolute;
    bottom: 4rem;
    width: 100px;
    display: flex;
    justify-content: space-between;

}

.home__social-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home__social-link:hover{
    color: var(--bg-color);
}

.home__social-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home__social-link:hover::before {
    width: 100%;
}

.home__imageHover {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    right: 0;
    background: transparent;
    transition: 3s;
}

.home__imageHover:hover {
    background: var(--bg-color);
    opacity: .8;
}

/* ========== about section ================= */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.about__heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.color{
    color: var(--main-color);
}

.about__img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img-img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color)
}

.about__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-right: .2rem solid var(--main-color);
}

.about__content{
    text-align: center;
}

.about__content-title {
    font-size: 2.6rem;
}

.about__content-text {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns .btn::before {
    background: var(--second-bg-color);
}